---
http_interactions:
- request:
    method: post
    uri: https://login.library.edu/pds
    body:
      encoding: US-ASCII
      string: func=get-attribute&attribute=bor_info&calling_system=authpds-nyu&pds_handle=ALEPH_PDS_HANDLE
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><bor-info><id>DS03D</id><exl_id>DS03D</exl_id><nyuidn>DS03D</nyuidn><bor-status>03</bor-status><expiry-date>20330319</expiry-date><name>TEST-RECORD</name><email>DS03D@nyu.edu</email><email_address>DS03D@nyu.edu</email_address><institute>NYU</institute><cn>DS03D,
        TEST-RECORD</cn><givenname>TEST-RECORD</givenname><sn>DS03D</sn><verification>TEST</verification><ill-permission>N</ill-permission></bor-info>
  recorded_at: Fri, 27 Sep 2013 01:00:05 GMT
recorded_with: VCR 2.5.0
